

main .top-blue {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #449fff;
}

main .table-line {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px; 
}

main .table-line div {
    position: relative;
    flex: 0 0 calc(12.5% - 1.75px); 
    height: 40px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
}