
header {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    display: flex;            
    align-items: center; 
    position: fixed;     
    transition: top 0.3s;
    z-index: 1000;
}

body {
    background-color: rgb(240, 240, 240);
}

main {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: auto;
    min-height: calc(100% - 50px);
}

.header-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../../asstes/favicon.ico");
    background-position: center;
    background-size: cover;
}

header button:hover {
    background-color: rgb(230, 230, 230);
}

.header-icondiv {
    position: relative;
    left: 0;
    top: 0;
    width: 75px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;     
    display: block;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    display: block;
}

.menu:hover {
    background-color: rgb(230, 230, 230);
}

.menu-icon {
    position: absolute;
    height: 7%;
    width: 50%;
    left: 25%;
    background-color: rgb(0, 0, 0);
}

.menu-content {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 150px;
    min-height: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    display: none;
}

.menu-content button {
    position: relative;
    left: 0;
    top: 0;
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;     
    display: block;
    text-align: left;
    padding-left: 20px;
}

.menu-login {
    position: relative;
    left: 0;
    top: 0;
    width: 150px;
    height: 50px;
}

.menu-login button {
    position: absolute;
    top: 0;
    width: 75px;
    height: 50px;
}

.header-login {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 50px;
}

.header-login button {
    position: absolute;
    top: 0;
    width: 75px;
    height: 50px;
}

.header-login-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.header-login-button:hover {
    background-color: rgb(230, 230, 230);
}

header button { display: none; }
.dropdown { display: none; }
.dropdown-urse { display: none; }

@media only screen and (min-width: 768px) {
    .menu-content { display: none; }
    .menu { display: none; }

    .header-icondiv {
        position: relative;
        left: 50px;
    }

    header button {
        position: relative;
        left: 50px;
        top: 0;
        width: 75px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border: none;     
        display: block;
    }
    
    header button:hover {
        background-color: rgb(230, 230, 230);
    }
    
    .dropdown {
        position: absolute;
        display: inline-block;
        left: 325px;
        display: block;
    }

    .dropdown-urse {
        position: absolute;
        display: inline-block;
        left: 0;
        display: block;
    }
    
    .dropdown-btn {
        left: 0;
        width: 75px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border: none;
        display: block;
    }
    
    .dropdown-btn:hover {
        background-color: rgb(230, 230, 230);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #f9f9f9;
        width: 150px;
        min-height: 20px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: left;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-urse:hover .dropdown-content {
        display: block;
    }
}